/**=========== HEADER ==========**/
.body{
  overflow: hidden;
}
.main__header {
  height: 95vh;
  display: grid;
  place-items: center;
  /* margin-top: 3rem; */
  /* margin-bottom: 3rem; */
}

.main__header-container {
  /* height: 100vh; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  width: auto;
  margin: 0.5rem 4rem;
}

.main__header-left {
  margin-top: 3rem;
}

.main__header-left h4 {
  margin-bottom: 1rem;
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 3.5rem;
  font-weight: 700;
}
.techbros{
  font-size: 1.3rem;
}

/* .main__header-left h1 {
    margin: 5rem  0 2rem 0;
    font-size: 5rem;
} */

.main__header-left p {
  margin: 0.5rem 0 2.5rem;
  font-size: 1rem;
}

.svg {
  width: 40rem;
  height: 30rem;
  object-fit: cover;
  overflow: hidden;
  padding-left: 2rem;
  /* display: grid; */
}

.main__header-right {
  display: block;
  place-items: center;
  position: relative;
  float: right;
  margin-top: 3rem;
}
.footer{
  text-align: center;
 bottom: 0;
}
/* =========== MEDIA QUERIES (TABLET) ========== */
@media screen and (max-width: 1024px) {
  .main__header {
    height: fit-content;
    padding: 0rem 0;
  }
  .main__header-container {
    gap: 0;
  }
  .svg {
    width: var(--container-width-md);
  }
  .footer{
    margin-top: 4rem;
    bottom: 0;
  }
}

/* =========== MEDIA QUERIES (PHONES) ========== */
@media screen and (max-width: 600px) {
  
  .main__header-container {
    width: var(--container-width-sm);
    display: block;
    padding: 1rem 1rem;
    margin-top: 5rem;
  }
  .main__header-right {
    margin-top: -4rem;
    height: 60vh;
  }
  .main__header-left h4 {
    font-size: 2.5rem;
    margin: 2rem 0rem;
  }
  .techbros{
    font-size: 0.9rem;
    font-weight: 400;
  }
  .main__header-left h1{
    font-size: 1.8rem;
  }
  .main__header-left p{
    margin: 1.5rem 0rem;
  }
  .footer{
    margin-top: 4rem;
    bottom: 0;
  }
}
